<template>
    <div style="height: 100vh; width: 100vw">
        <Scene ref="scene" :sceneId="activeScene"
            @tokenmove="onTokenMove"></Scene>
        <DebugInfoOverlay :livePlay="this" ></DebugInfoOverlay>
    </div>
</template>

<script>
    import Vue from 'vue';
    import VueKonva from 'vue-konva';

    import LivePlayDirector from './live/LivePlayDirector'
    import Scene from './render/Scene.vue';

    import DebugInfoOverlay from './debug/InfoOverlay.vue';

    Vue.use(VueKonva);

    export default {
        data() {
            return {
                activeScene: null
            }
        },
        props: {
            sessionId: {
                type: String,
                default: ''
            },
            sceneId: {
                type: String,
                default: ''
            }
        },
        computed: {
            gridSpace() {
                return this.$refs.scene.renderContext.gridSpace;
            }
        },
        provide: function() {
            return {
                director: this.director
            }
        },
        components: {
            DebugInfoOverlay: DebugInfoOverlay,
            Scene: Scene
        },
        watch: {
            sceneId: {
                handler() {
                    this.loadScene({
                        sessionId: this.sessionId,
                        sceneId: this.sceneId
                    })
                },
                deep: true
            }
        },
        beforeCreate() {
            this.director = new LivePlayDirector({
                store: this.$store
            });
            this.director.init();
        },
        created() {
            this.loadScene({sessionId: this.sessionId, sceneId: this.sceneId});
        },
        mounted() {
            // Need to wait until child components exist before attaching listeners
            this.$nextTick(() => {
                this.fitSceneToWindow();
                window.addEventListener('resize', this.fitSceneToWindow);
            })
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.fitSceneToWindow);
        },
        methods: {
            async loadScene({sessionId, sceneId}) {
                if (sessionId.startsWith('$')) {
                    const liveDebug = await import('./debug/LivePlayDebug')

                    await liveDebug.loadDebugScene({ vm: this, sessionId, sceneId })

                    this.activeScene = sceneId;
                    return;
                }

                console.warn(`Unknown scene: ${sessionId}/${sceneId}...`)
            },
            fitSceneToWindow() {
                this.$refs.scene.fitToContainer();
            },
            onTokenMove({ entity, pos }) {
                let snappedPos = this.gridSpace.gridToAnchor(pos);
                this.director.moveToken(entity.id, snappedPos);
            }
        }
    }
</script>

<style>
    body {
        margin: 0;
    }
</style>
